@import url("https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css");


#tracker{
    margin-top: 6%;
    /* background-image: url("../../../public/img/tracker.jpg"); */
    background-repeat: no-repeat;
}

#tracker .mb-3{
    padding-left: 2%;
    padding-right: 2%;
 }

 #tracker .title{
     color: #533E85;
     text-align: center;
     margin-top: 5%;
     font-size: 2.5em;
     font-weight: 600;
 }




 #tracker .tracker-card{
     background-color: rgba(0,0,0, 0.1);
     width: 650px;
     height: 25%;
     padding: 2%;
     border-radius: 20px;
     margin-top: 2%;
     margin-bottom: 5%;
 }

 #tracker .row{
     justify-content: center;
 }

 #tracker .form-label{
     text-align: left !important;
 }

 #tracker .form-label{
     color: black;
     font-weight: 800;
 }

 #tracker .input-field input{
     outline: none;
 }

 #tracker .input-field input:focus{
    border-bottom: 2px solid #6415FF;
    background-color: #c1c4c8;
}

 #tracker .tracker-card [type="text"]{
     /* background-color: white;
     color: black;
     border-top:none ;
     border-right: none;
     border-left: none;
     /* border-bottom: 2px solid #454545; */
     /* width: 85%;
     margin-right: 1%;
     font-weight: 500; */ 
 }

 #tracker .tracker-card span button{
     background-color: #8668B0;
     color: white;
     outline: none;
     /* width: 50px;
     height: 30px; */
     transition: 1s;
     border: none;
     border-radius: 50px;
 }


 /* #tracker .tracker-card button:hover{
    transform:scale(1.1);
} */

#tracker .track-details{
   border-bottom: 2px solid #533E85;
   margin-top: 5%;
}

#tracker .track-details .row{
    /* margin-top: 2%; */
    padding: 5%;
}

#tracker .track-details-title{
    font-weight: 500;
}




.steps .step {
    display: block;
    width: 100%;
    /* margin-bottom: 35px; */
    text-align: center;
    margin-top: 3%;
}
.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 75%;
    text-align: center
}
.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}
.steps .step .step-icon-wrap::before {
    left: 0
}
.steps .step .step-icon-wrap::after {
    right: 0
}
.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 60%;
    height: 88%;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}
.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 78%;
    font-weight: 500
}
.steps .step:first-child .step-icon-wrap::before {
    display: none
}
.steps .step:last-child .step-icon-wrap::after {
    display: none
}
.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #8668B0;
}
.steps .step.completed .step-icon {
    border-color: #8668B0;
    background-color: #8668B0;
    color: white;
}
@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }

    .steps .step .step-icon{
        width: 15%;
        height: 90%;
    }
}
@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }

    .steps .step .step-icon{
        width: 15%;
        height: 90%;
    }
}
@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }

    .steps .step .step-icon{
        width: 15%;
        height: 90%;
    }
}
@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }

    .steps .step .step-icon{
        width: 54%;
        height: 90%;
    }
}
.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}