

#copyright-text, #social-links{
    text-align: center;
    align-items: center;
}



#footer .footer-link li
{
  display:block
}

#social-icons{
   padding-left: 40%;
}

.social-links{
    order: 3;
}

/*  */


/*  */


@media screen and (max-width: 576px){

.social-links{
    order: 2;
}

.copyright-text{
    order: 3;
}
#social-icons{
    /* padding-left: 36%; */
 }

 .copyright-text{
    padding-left: 0px;
    color: black;
}


}



@media screen and (max-width: 768px) {
   
    #social-icons{
        /* padding-left: 36%; */
     }
  }
  
  
  

  @media screen and (max-width: 820px) {
    #social-icons{
        /* padding-left: 30%; */
     }
  }

  @media screen and (max-width: 1120px) {
    #social-icons{
        padding-left: 36%;
     }
  }